#Texto-Estado-Tipo-Usuarios-Administrador{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    /* line-height: 19px; */
    color: #1876F2;
    padding-left: 10px;
}

#Fila-Tabla-Administrador{
    padding: 5px;
    margin-left: 0px;
    background: #FFFFFF;
    border-radius: 8px;
    margin-bottom: 5px;
}

#Fila-Tabla-Administrador:hover{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}

#Fila-Tabla-Administrador:hover #Texto-Tabla-Administrador-Modulos{
    font-size: 16px;
}

#Texto-Tabla-Administrador-Modulos{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #323233;
}


#Icono-Fila-Editar-Administrador{
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 5px;
}

#Icono-Fila-Editar-Administrador:hover{
    background: #F0F2F5;
    border-radius: 100px;
    /* padding: 4px; */
}

#Texto-Tabla-Tipos-Usuarios-Administrador{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #1876F2;
    cursor: pointer;
}
@media screen and (max-width:1024px) {
    #Contenedor-Lista-Tipos-Usuario{
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width:425px){
    #Contenedor-Responsive{
        padding: 0px;
    }
    #Contenedor-Segunda-Parte-Administrador{
        padding: 0px;
    }
}
@media screen and (min-width:376px) and (max-width:425px){
    #Input-Crear-Permiso-Administrador{
        width: 280px !important;
    }
}
@media screen and (min-width:321px) and (max-width:375px){
    #Input-Crear-Permiso-Administrador{
        width: 260px !important;
    }
}
@media screen and (max-width:320px){
    #Input-Crear-Permiso-Administrador{
        width: 210px !important;
    }
}

table {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    border-collapse: separate !important;
    border-spacing: 0 5px !important;
  }

table tbody tr td:first-child{
    text-align: left;
}

table tbody td{
    padding: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #323233;
    background-color: white !important;
}
table tbody tr td:nth-last-child(2){
   
    padding: 17px 0px;  
    justify-content: center;
}
table tbody tr td:first-child{
    border-radius: 8px 0 0 8px;
}

table tbody tr td:last-child{
    border-radius: 0 8px 8px 0;
}
    
.campos-Filtros{
    position: relative;
    top: -58px;
}

.tabla{
    position: relative;
    top: 30px;
}

table thead tr th{
    padding-bottom: 25px;
}

table thead tr th:last-child > span{
    display: none;
}

table thead tr th .campos-Filtros > select{
    width: 153px;
    height: 28px;
    background: #FFFFFF;
    border: 1px solid #C4E1FF;
    box-sizing: border-box;
    border-radius: 8px;
    padding-right: 20px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #323233;
    visibility: visible;
    display: block;
}

table thead tr th .campos-Filtros > span input{
    width: 100%;
    background: #F0F2F5;
    border: 1px solid #1876F2;
    border-radius: 8px;
    box-sizing: border-box;
    width: 328px;
    height: 28px;
    padding-left: 10px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
}

table thead tr{
    background: #FFFFFF;
    border-left: none;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
}
table thead tr th{
    padding-top: 25px;
}
table thead tr{
    border-radius: 8px 8px 8px 8px;
}

table thead tr th:first-child{
    border-radius: 8px 0 0 8px;
    padding-bottom: 0px;
}

table thead tr th:last-child{
    border-radius: 0 8px 8px 0;
}

table thead{
    visibility: collapse;
}

.Botones-Carga-Cancelar-Datos{
    margin: 10px;
}
.Botones-Carga-Cancelar-Datos{
    display: flex;
}
.Botones-Carga-Cancelar-Datos > div{
    width: 170px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    background: #1876F2;
    box-shadow: 0px 1px 4px rgb(0 0 0 / 25%);
    border-radius: 8px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center;
    margin-bottom: 20px;
}

@media screen and (max-width: 375px) {
    .Botones-Carga-Cancelar-Datos{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 520px) {
    .responsiveTabla{
        overflow: auto;
    }
    .responsiveTabla::-webkit-scrollbar{
        display: none;
    }
}
@media screen and (min-width: 769px) {
    table tbody tr td:nth-last-child(2){
        display: flex;
    } 
}
@media screen and (min-width:376px) and (max-width: 425px) {
    .paginacion{
        position: relative;
        right: -25%;
    }
}
@media screen and (min-width:321px) and (max-width: 375px) {
    .paginacion{
        position: relative;
        right: -45%;
    }
}
@media screen and (max-width: 320px) {
    .paginacion{
        position: relative;
        right: -80%;
    }
}