#Titulo-Servicio-Categorias{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    padding-bottom: 20px;
}

#Card-Servicio-Categorias{
    width: 100%;
    /* height: 550px; */
    background: red;
    margin-bottom: 50px;
    position: relative;
    animation-name: CardServicioCategoriaAnimacion;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


@keyframes CardServicioCategoriaAnimacion{
    from{ 
        transform: scale(1)
    }
    to { 
        transform: scale(1.01)
    }
}


#Imagenes-Card-Servicio-Categorias{
    /* height: 80%; */
    background: greenyellow;
}

#Pie-Card-Servicio-Categorias{
    background: white;
}

#Capa-Card-Servicio-Categorias{
    position: absolute;
    width: 100%;
    height: 100%;
}

#Animacion-Capa-Card-Servicio-Categorias{
    width: 100%;
    background: #1876F2;
    height: 1%;
    bottom: 0px;
    position: absolute;
    animation-name: AntesCapaCardServicioCategoriaAnimacion;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}


/* @keyframes AntesCapaCardServicioCategoriaAnimacion{
    from{ 
        height: 100%;
        background: rgba(24, 118, 242, 0.45);
    }
    to { 
        height: 1%;
        background: #1876F2;
    }
} */

#Capa-Card-Servicio-Categorias:hover #Animacion-Capa-Card-Servicio-Categorias{
    position: absolute;
    width: 100%;
    background: #1876F2;
    height: 1%;
    bottom: 0px;
    animation-name: CapaCardServicioCategoriaAnimacion;
    animation-delay: 0s;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes CapaCardServicioCategoriaAnimacion{
    from{ 
        height: 1%;
        background: #1876F2;
    }
    to { 
        height: 100%;
        background: rgba(24, 118, 242, 0.45);
    }
}













/* --------------------------- */
.contenedorImgHover-ServiciosDescatados{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    /* height: 100vh; */
}
.contenedorImgHover-ServiciosDescatados figure{
    position:relative;
    /* height: 350px; */
    cursor: pointer;
    /* width: 100%; */
    overflow: hidden;
    /* border-radius: 20px; */
    /* box-shadow: 0px 20px 30px rgba(0,0,0,0.50); */
}
.contenedorImgHover-ServiciosDescatados figure span{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}
.contenedorImgHover-ServiciosDescatados figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(76,183,227,0.9); */
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    /* text-align: center; */
}
.contenedorImgHover-ServiciosDescatados figure:hover > .capa {
    opacity: 1;
    visibility: visible;
    padding: 55px;
}
.contenedorImgHover-ServiciosDescatados figure:hover > .capa div{
    margin-top: 20px;
    /* margin-top: 30px; */
    /* margin-bottom: 15px; */
}
.contenedorImgHover-ServiciosDescatados figure:hover > .capa h2{
    /* margin-top: 70px; */
    margin-bottom: 15px;
}
.contenedorImgHover-ServiciosDescatados figure:hover > span{
    transform: scale(1.1);
}
.contenedorImgHover-ServiciosDescatados figure .capa h2{
    color: #fff;
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 20px;
    transition: all 500ms ease-out;
    /* margin-top: 30px; */
}
.contenedorImgHover-ServiciosDescatados figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    /* margin: auto; */
}

#Txt-No-Tiene-Acceso-Servicios-Destacados{
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    text-align-last: center;
}