.contenedorFormularioLogin{
    position: relative;
    width: 0%;
    background: white;
    float:left;
    height  : 100%;
    text-align: center;
    animation-name: formularioLogin;
    animation-delay: 5s;
    animation-duration: 4s;
    animation-fill-mode: forwards;

}

@keyframes formularioLogin{
    from{ width   : 0%; }
    to { width   : 30%; }
}

.contenedorFormularioLoginActivado{
    position: relative;
    width: 30%;
    background: #FFFFFF;
    float:left;
    height  : 100%;
    text-align: center;
}

.contenedorLoginSliders{
    /* display: flex; */
    /* position: absolute; */
    /* justify-content: center;
    align-items: center;  */
    /* background-image : url("https://backend-spider-kimberly.grow-corporate.com/Spider/img/spiderpreload.png"); */
    /* background-image : url("https://northcentralus1-mediap.svc.ms/transform/thumbnail?provider=spo&inputFormat=png&cs=fFNQTw&docid=https%3A%2F%2Fgrowanalyticscom.sharepoint.com%3A443%2F_api%2Fv2.0%2Fdrives%2Fb!SaJkXZ9JpEG99drP4BB2WslTkCQrO_JNnRYYJ732Iyr_tez6U7VrQ7CcgI2JyUjs%2Fitems%2F01ATJHHXTF7LLLR67ETJHK6DNZDSOSTKEW%3Fversion%3DPublished&access_token=eyJ0eXAiOiJKV1QiLCJhbGciOiJub25lIn0.eyJhdWQiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAvZ3Jvd2FuYWx5dGljc2NvbS5zaGFyZXBvaW50LmNvbUAxZGY0Njg4Yy1iOTE1LTQxMDMtOThjMC0zYTM2OGZiMjkzZTgiLCJpc3MiOiIwMDAwMDAwMy0wMDAwLTBmZjEtY2UwMC0wMDAwMDAwMDAwMDAiLCJuYmYiOiIxNjEyNTU4Nzk5IiwiZXhwIjoiMTYxMjU4MDM5OSIsImVuZHBvaW50dXJsIjoiYlZGbk8wQ0o5UHBzMGlxMW82R3J3YlJ3ajcwY24vZFVzNS9jdUVmZ0NPST0iLCJlbmRwb2ludHVybExlbmd0aCI6IjEyMyIsImlzbG9vcGJhY2siOiJUcnVlIiwidmVyIjoiaGFzaGVkcHJvb2Z0b2tlbiIsInNpdGVpZCI6Ik5XUTJOR0V5TkRrdE5EazVaaTAwTVdFMExXSmtaalV0WkdGalptVXdNVEEzTmpWaCIsInNpZ25pbl9zdGF0ZSI6IltcImttc2lcIl0iLCJuYW1laWQiOiIwIy5mfG1lbWJlcnNoaXB8Z2Vyc29uLnZpbGNhQGdyb3ctYW5hbHl0aWNzLmNvbSIsIm5paSI6Im1pY3Jvc29mdC5zaGFyZXBvaW50IiwiaXN1c2VyIjoidHJ1ZSIsImNhY2hla2V5IjoiMGguZnxtZW1iZXJzaGlwfDEwMDMyMDAwZDU4MmQ1M2JAbGl2ZS5jb20iLCJ0dCI6IjAiLCJ1c2VQZXJzaXN0ZW50Q29va2llIjoiMyJ9.T3dMeWdPVnZJUjVEdnQ3QVE5Ull6a1djYWVoOEcvbTNkMlhPT1I0OUlkVT0&encodeFailures=1&srcWidth=&srcHeight=&width=1387&height=925&action=Access"); */
    background-size: cover;
    background-repeat: no-repeat;
    /* background: red; */
    /* background-position: center; */
    /* float: right; */
    /* padding-left: 30% ; */
    width   : 100%;
    height  : 100%;
    margin-left: 0%;
    /* text-align: center; */
    /* padding-top: 17%; */
    animation-name: asdasdq2ewe12qwe;
    animation-delay: 5s;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

@keyframes asdasdq2ewe12qwe{
    from{ margin-left: 0%; }
    to { margin-left: 30%; }
}

.contenedorLoginSlidersCarousel{
    /* background-image : url("https://backend-spider-kimberly.grow-corporate.com/Spider/img/spiderpreload.png"); */
    background-size: cover;
    background-repeat: no-repeat;
    width           : 100%;
    height          : 100%;
    margin-left     : 30%;
}

#contenidoForm{
    opacity: 0.0;
    animation-name: aadasdzz;
    animation-delay: 7s;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes aadasdzz{
    from{ opacity: 0.0; }
    to { opacity: 1.0; }
}

#contenidoFormActivado{
    opacity: 1.0;
}

#logoFormulario{
    position: absolute;
    left: -20px;
    top: 33px;
    width: 390px;
    height: 162px;
}

.tituloIniciarSesionLogin{
    position: absolute;
    left: 59px;
    top: 215px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 29px;
    color: black;
}

#textoInputUsuarios{
    position: absolute;
    left: 59px;
    top: 260px;
    font-size: 12px;
    align-items: center;
    color: black;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

#textoInputClave{
    position: absolute;
    left: 59px;
    top: 335px;
    font-size: 12px;
    align-items: center;
    color: black;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: bold;
    line-height: 16px;
}

#textoOlvidasteContrasenas{
    position: absolute;
    left: 59px;
    top: 426px;
    font-size: 12px;
    align-items: center;
    color: black;
    cursor: pointer;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
}

#textoSolicitarNuevaCuenta{
    position: absolute;
    left: 59px;
    top: 438px;
    font-size: 12px;
    align-items: center;
    color: black;
    cursor: pointer;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
}

#inputUsuario{
    position: absolute;
    width: 290px;
    height: 38px;
    left: 59px;
    top: 284px;
    border: 1px solid #F0F2F5;
    background: #F0F2F5;
    box-sizing: border-box;
    border-radius: 24px;
}

#inputClave{
    position: absolute;
    width: 290px;
    height: 38px;
    left: 59px;
    top: 360px;

    border: 1px solid #F0F2F5;
    background: #F0F2F5;
    box-sizing: border-box;
    border-radius: 24px;
}

#inputDatos{
    float: right;
    background:transparent;
    height:38px; 
    width: 100%;
    margin-top:0.5px;
    /* margin-left: 5px; */
    border:none; 
    /* width:250px; */
    /* width: 70%; */
    color: black;
    font-size: 13px;
    /* margin-right: 10px; */
    padding-left: 35px;
}

#iconoContrasena{
    /* padding-top: 10px; */
    padding-left: 10px;
    margin-left: -5px;
    float:left;
    width:40px;
    padding-top: 0px;
}

#inputDatos:focus{
    border: none;
    outline: none;
}

.textoFooterLogin{
    bottom: 20px;
    position:absolute;
    height: 18px;
    left: 59px;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.btnIniciar{
    color: black;
    cursor: pointer;
    position: absolute;
    width: 290px;
    height: 49px;
    left: 59px;
    top: 475px;
    background: #E4E6EB;
    border-radius: 24px;    
    border: none;
    font-family: Segoe UI;
    font-style: normal;
    font-weight: 900;
    line-height: 18px;

}

.txtBtnIniciar{
    padding-top: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    align-items: center;
    color: #F93258;
}

#logoCarousel{
    width: 426px;
    height: 186px;
    text-align: center;
    position: absolute;
    animation-name: logosmartcaro;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    opacity: 1.0;
}

@keyframes logosmartcaro{
    from{ opacity: 1.0; }
    to { opacity: 0.0; }
}

#logoKimberly{
    width: 503px;
    height: 208px;
    /* padding-top: 30px; */
    /* text-align: center; */
    position: absolute;
    opacity: 0.0;
    animation-name: logokimeffec;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;

}

@keyframes logokimeffec{
    from{ opacity: 0.0; }
    to { opacity: 1.0; }
}


#contenedorImagenesCentro{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}