/* images */

.slick-list{
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 0px;
    /* margin: 0px auto; */
    margin-left: 70px;
    margin-right: 70px;
    max-width: 100vw;
    overflow: hidden;
    justify-content: center;

}

.slick-track{
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    /* justify-content: center; */
    transition: .1s ease-in-out;
}

.slick{
    position: relative;
    /* width: 430px; */
    /* padding: 0 18px; */
    /* float: left; */
    box-sizing: border-box;
    display: flex;
    /* height: 100%; */
    margin-right: 20px;
}
.slick h4{
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
}
.slick h4 small{
    font-size: 15px;
    display: block;
}
.slick a img{
    object-fit: cover;
    /* height: 300px; */
    /* width: 100%; */
    border-radius: 4px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .1s ease-in-out;
}
.slick a img:hover{
    opacity: .85;
}

/* buttons */

.slick-arrow{
    /* border-radius: 30px; */
    /* background-color: #fff; */
    position: absolute;
    z-index: 4;
    /* width: 48px;
    height: 48px; */
    text-align: center;
    /* box-shadow: 0 2px 5px 0 rgba(0,0,0,.15); */
    border: 0;
    /* background: transparent; */
    cursor: pointer;

    place-content: center;
    width: 42px;
    height: 40px;
    display: flex;
    
}

.slick-arrow:hover{
    place-content: center;
    background-color: #F0F2F5;
    border-radius: 50px;
    width: 42px;
    height: 40px;
    display: flex;
}

.slick-arrow:focus{
    outline: 0;
}
.slick-arrow svg{
    width: 12px;
    /* height: 100%; */
    color: rgba(0,0,0,.7);
}
.slick-prev{
    left: 0px;
}
.slick-next{
    right: 0px;
}

#Animacion-Borrosa-Costado-Carousel-Izquierda-Dashboard{
    width: 100px;
    height: 50%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) -91.62%, #F9F9F9 95%);
    transform: rotate(-180deg);
    left: -50px;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

#Animacion-Borrosa-Costado-Carousel-Derecha-Dashboard{
    width: 100px;
    height: 50%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) -91.62%, #F9F9F9 90%);
    /* transform: rotate(-180deg); */
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Carousel{
    width: 100%;
    position: relative;
    background: red;
}