#Contenedor-Principal-Margen{
    margin: 40px;
}
@media screen and (max-width: 768px) {
    #Contenedor-Principal-Margen{
        margin: 10px;
    }
}
#Icono-Fila-Aceptar-Editar-Administrador{
    width: 20px;
    cursor: pointer;
}